## Part 1:

### 1. Number:

#### 1.1. Operations with numbers:

In [ ]:
1+1

In [ ]:
2**3

In [ ]:
8%5

In [ ]:
8.0//5.0 # Floor division.

### 2. String:

#### 2.1. Basics:

In [ ]:
# A quote within another quote.
print("He said, 'Python is very easy'")
print('He said, "Python is very easy"')

In [ ]:
# Multi-line string.
my_string = """Hello !!!
my
name
is
Python."""
print(my_string)

#### 2.2. Operations with strings:

In [ ]:
str1 = 'First string. '
str2 = 'Second string.'
print(str1 + str2)

In [ ]:
str = 'Python. '
print(str*5)

#### 2.3. Indexing and slilcing strings:

In [ ]:
str = 'Life is too short, You need Python!'
print(str[0])
print(str[-1])
print(str[0:4])
print(str[5:])

#### 2.4. Functions and methods for string objects:

In [ ]:
x = 'Python'
print(len(x))

In [ ]:
x.count('h')

In [ ]:
x.upper()

In [ ]:
x.lower()

In [ ]:
x.find('o')

In [ ]:
x.find('w')

In [ ]:
x.index('o')

In [ ]:
# 'w' is not found in x. This will result in an error.
x.index('w')

In [ ]:
x = 'Life is too short, You need Python!'

In [ ]:
x.split(' ')

In [ ]:
y = x.split(' ')
a = ' '
print(a.join(y))

### 3. Boolean:

#### 3.1. Operations with Booleans:

AND operator:

In [ ]:
False and False

In [ ]:
False and True

In [ ]:
True and False

In [ ]:
True and True

In [ ]:
(3 > 2) and (5 < 4)

In [ ]:
(3 > 2) and (5 > 4)

OR operator:

In [ ]:
False or False

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
False or True

In [ ]:
True or True

NOT operator:

In [ ]:
not True

In [ ]:
not False

In [ ]:
not (4 > 2)

In [ ]:
not (4 < 2)

#### 3.2. Implicit Boolean:

In [ ]:
x = []
y = [1,2,3]

In [ ]:
if x:
    print('Not empty.')
else:
    print('Empty!')

In [ ]:
if y:
    print('Not empty.')
else:
    print('Empty!')

### 4. Data types:

In [ ]:
print(type(2**30))
print(type(2**100))

## Part 2:

### 1. List:

#### 1.1. Creating lists:

In [ ]:
x = [1, 3, True, False, 'Hello', [3,5,7]]
type(x)

In [ ]:
# A range.
range(1,5)

In [ ]:
# A range cast as list.
x = list(range(1,5))
x

In [ ]:
list(range(1,10,2))

In [ ]:
list(range(0,21,5))

#### 1.2. Indexing and slicing lists:

In [ ]:
x = [1, 2, ['Life', 'is']]
x[1]

In [ ]:
x[2]

In [ ]:
x[2][1]

In [ ]:
x = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
x[2:5]

In [ ]:
x[3][:2]

#### 1.3. Operations with lists:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

In [ ]:
x = [1, 2, 3]
x*3

#### 1.4. Changing list content:

In [ ]:
x = [1, 2, 3]
x[1] = -1
x

In [ ]:
x[1:3] = [3, 5, 7, 9, 11]
x

Let's carefully distinguish the following cases:

In [ ]:
# Replace part of a list.
x = [1, 2, 3]
x[1:2] = [-1, -2, -3]
x

In [ ]:
# List a particular element of the list.
x = [1, 2, 3]
x[1] = [-1, -2, -3]
x

#### 1.5. Deleting part of a list:

In [ ]:
x = [1, 2, 3, 4, 5]
x[1:3] = []
x

In [ ]:
x = [1, 2, 3, 4, 5]
del x[2]
x

#### 1.6. Functions and methods for list objects:

In [ ]:
x = [2,4,6,8,10]
len(x)

In [ ]:
x = [1, 2, 3]
x.append(4)
x.append([5,6])
x

In [ ]:
x = [1, 2, 3, 4, 5]
x.reverse()
x

In [ ]:
# The sort() method changes the list permanently.
x = [3, 1, 5, 2, 4]
x.sort()
x

In [ ]:
x = [3, 1, 5, 2, 4]
x.sort(reverse=True)
x

In [ ]:
# The function sorted() just returns a view without changing the list permanently.
x = [3, 1, 5, 2, 4]
sorted(x)

In [ ]:
# We can verify that 'x' is the same as before.
x

### 2. Tuple:

#### 2.1. Creating tuples:

In [ ]:
x = (1, 3, True, False, 'Hello', [3,5,7])
type(x)

In [ ]:
# A range cast as tuple.
x = tuple(range(1,5))
x

#### 2.2. Indexing and slicing tuples:

In [ ]:
x = (1, 2, ('Life', 'is'))
x[2]

In [ ]:
x[2][1]

In [ ]:
x = (1, 2, 3, ['a', 'b', 'c'], 4, 5)
x[3][:2]

#### 2.3. Operations with tuples:

In [ ]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

In [ ]:
a * 3

### 3. Dictionary:

#### 3.1. Creating dictionaries:

In [ ]:
d = {'x':[1,2,3], 'y':[4,5,6]}

In [ ]:
d['x']

In [ ]:
d['y']

#### 3.2. Adding key-value pairs, deletion, update:

In [ ]:
d = {}
d['name'] = 'John'
d['gender'] = 'Male'
d['age'] = 23
d

In [ ]:
del d['age']
d

In [ ]:
d['name'] = 'Andrew'
d

#### 3.3. Dictionary methods and operations:

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d.clear()
d

In [ ]:
d = {'name': 'John', 'gender': 'Male', 'age': 23}
d.get('wage', 0)

In [ ]:
# Check whether 'name' is a key of d.
'name' in d

In [ ]:
# Check whether 'wage' is a key of d.
'wage' in d

### 4. Set:

#### 4.1. Creating a set:

In [ ]:
b = set([1,2,3,3,3,3,4,5])
b

#### 4.2. Operations with sets:

In [ ]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s1 & s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

In [ ]:
s1 - s2

In [ ]:
s1.difference(s2)

In [ ]:
a = set([1, 2, 3, 4, 5])
a.add(6)
a

In [ ]:
a.update([7, 8, 9])
a

In [ ]:
a.remove(9)
a

## Part 3:

### 1. for loop:

In [ ]:
# List
for item in [1, 2, 3]:
    print(item)

In [ ]:
# String
for char in "AI":
    print(char)

In [ ]:
# Range
for i in range(5):  # 0 to 4
    print(i)

In [ ]:
# Dictionary
person = {"name": "Nour", "age": 22}
for key, value in person.items():
    print(key, value)

### 2. while loop:

In [ ]:
# Repeat as long as a condition is True
i = 0
while i < 5:
    print(i)
    i += 1

### 3. enumerate():

In [ ]:
# Get index and value while iterating
names = ["AI", "ML", "DL"]
for index, name in enumerate(names):
    print(index, name)

### 4. zip():

In [ ]:
# Loop over two or more sequences at the same time
a = [1, 2, 3]
b = ['a', 'b', 'c']
for x, y in zip(a, b):
    print(x, y)

### 5. iter() with next():

In [ ]:
nums = iter([1, 2, 3])
print(next(nums))
print(next(nums))

### 6. Loop Control Statements :

break – exit the loop early

continue – skip the current iteration

pass – do nothing (placeholder)

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

### 8. Conditional Structures :

In [ ]:
# if, elif, else
x = 10

if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

In [ ]:
# Ternary (one-liner) condition
status = "even" if x % 2 == 0 else "odd"